version: '3'
services:
  kali:
    build:
      context: .
      dockerfile: Dockerfile.attacker
    container_name: attacker
    stdin_open: true
    tty: true
    volumes:
      - ./data:/root/data  # 원하는 디렉토리 마운트
    networks:
      - pentest_network
    ports:
      - "8080:8080"       # 외부에서 Gotty 터미널에 접근하기 위한 포트 매핑

  metasploitable2:
    image: tleemcjr/metasploitable2
    container_name: victim
    privileged: true
    networks:
      - pentest_network
    tty: true
    stdin_open: true
    command: /bin/bash -c "/bin/services.sh && bash"
    # 내부 통신 전용이므로 ports 옵션은 생략

networks:
  pentest_network:
    driver: bridge